* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1500px;
  margin: 0 auto;
}

body {
  font-family: "Montserrat", sans-serif;
  /* background: #c2d0d0; */
}

.btn {
  width: 100px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid var(--bardo);
  background: transparent;
  color: var(--bardo);
  border-radius: 8px;
}

.btn:hover {
  background: var(--bardo);
  color: var(--black);
}

.btn:active {
  background: #56585d;
  border: 2px solid var(--orange);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  text-align: center;
  font-size: 70px;
  color: white;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 600;
}

h2 {
  color: white;
  margin: 0 auto;
  font-weight: lighter;
  /* text-transform: uppercase; */
  /* font-weight: 00; */
}

h3 {
  text-align: center;
  font-size: 30px;
  color: white;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 600;
}

h4 {
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

strong {
  color: #f79300;
}

label {
  font-size: 24px;
  color: var(--orange);
}
.title {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
#firstPartTitle {
  color: black;
  font-size: 64px;
  font-family: Montserrat Alternates;
  font-weight: 600;
  line-height: 76.8px;
  word-wrap: break-word;
}
#secondPartTitle {
  color: #a90d0d;
  font-size: 64px;
  font-family: Montserrat Alternates;
  font-weight: 600;
  line-height: 76.8px;
  word-wrap: break-word;
}

input {
  width: 350px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  padding-left: 5px;
  border: 1px solid #fff;
  box-shadow: 0px 2px 5px 5px rgb(185, 214, 236);
}

.checker {
  color: white;
  font-size: 30px;
}

.btn-slide {
  display: block;
  width: 100px;
  height: 100px;
  background: var(--orange);
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 50%;
  font-weight: 800;
  z-index: 1;
}

.btn-slide:hover {
  background: #b68733 !important;
  cursor: pointer;
  color: white;
}

:root {
  --orange: orange;
  --black: black;
  --bardo: #a90d0d;
  --white: #ffff;
}
.inverse {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, black 83%);
}
